<h1 class="text-center mb-4">Bienvenue sur ma TodolistApp</h1>
<%= render 'layouts/task_form'  %>
<div class="container borderless">
  <ul class="list-group">
    <% @categories.each do  |category|%>
      <li class="list-group-item">
        <button class="btn btn-info" id="id-btn-<%= category.title.downcase.gsub(' ', '')  %>"class="tablinks"> <%= category.title  %> </button>
      </li>
      <div id="id-content-<%= category.title.downcase.gsub(' ', '')  %>"class="card tabcontent">
        <ul class="list-group">
          <% category.tasks.each do |task|  %>
            <li class="list-group-item">
              <%= task.title  %>
              <% unless task.deadline.nil? %>
                , to read: <%= task.deadline.strftime('%D')  %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </ul>
</div>

<div class="carousel-wrapper">
  <div class="carousel-container">
    <div class="slider-wrapper">
      <%= image_tag 'previous.png', id: 'btn-previous', class:"img-arrow" %>
        <ul class="slider">
          <% @tasks.each do |task|  %>
            <% unless task.image.nil? %>
              <li>
                <div class="car-img">
                    <%= image_tag task.image, class: "img-circle" %>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
        <%= image_tag 'next.png', id: 'btn-next', class: "img-arrow" %>
    </div>
    <div class="miniatures">
      <ul class="ul-mini">
        <% i = 0 %>
        <% @tasks.each do |task|  %>
        <li>
            <% unless task.image.nil? %>
              <%= image_tag task.image, class: "mini-circle", id: i.to_s %>
            <% end %>
        </li>
        <% i += 1%>
        <% end %>
      </ul>
    </div>
  </div>
</div>
